make-2d.o
print-2d.exe
print-2d.o
stencil-2d.o
make-2d.exe
stencil-2d.exe
end.dat
start.dat
make-2d
print-2d
stencil-2d
all2.raw
start2.dat
initial-wjones.dat
omp-stencil-2d-stack.exe
stencil-2d-stack.o
stencil-2d-stack.exe
omp-stencil-2d.o
omp-stencil-2d.exe
omp-stencil-2d-stack.o
all.raw
final.dat
utilities.o
omp.start.dat
omp-all.raw
omp.end.dat
omp-start.dat
omp-end.dat

