make-2d.o
print-2d.exe
print-2d.o
stencil-2d.o
make-2d.exe
stencil-2d.exe
end.dat
start.dat
make-2d
print-2d
stencil-2d
all2.raw
start2.dat
initial-wjones.dat
omp-stencil-2d-stack.exe
stencil-2d-stack.o
stencil-2d-stack.exe
omp-stencil-2d.o
omp-stencil-2d.exe
omp-stencil-2d-stack.o
all.raw
final.dat
utilities.o
omp.start.dat
omp-all.raw
omp.end.dat
omp-start.dat
omp-end.dat
start.20.20.20.dat
~$omp-serial-stencil-2d.xlsx
omp-serial-stencil-2d.xlsx
all.20.20.20.raw
end.20.20.20.dat
omp.start.20.20.20.dat
.gitignore
omp-stencil-2d
omp-stencil-2d-stack
omp.all.20.20.20.raw
serial.all.20.20.20.raw
stencil-2d-stack
omp-serial-stencil-2d.pptx
4000.end.dat
.gitignore
omp-4000.end.dat
4000.start.dat
20.raw
OMP-stencil-2d.zip
